<%- include base_header %>
<div class="container">
    <div class="text-center">
        <div class="col-md-offset-3 col-md-6 panel panel-default">
            <h2 class="form-signin-heading">Personalize your Account</h2>

            <% if (error) { %>
                <div class="alert alert-warning">
                    <%=error.message %>
                </div>
            <% } %>

<p class="text-muted">edit your account informations</p>
<br>
<form class="form-horizontal" action="#" method="POST" enctype="multipart/form-data">
    <input name="func" id="func" type="hidden" value="regis">
<input name="t" id="t" type="hidden" value="1478362296">
<input name="withpwd" id="withpwd" type="hidden" value="1">
<input name="withdetails" id="withdetails" type="hidden" value="">
<div class="form-group"><label class="control-label col-md-3" for="username">Username</label><div class=" col-md-9"><input class="form-control" required="" name="username" id="username" type="text" readonly value="<%=user.username %>" enabled="false">
</div></div>
<div class="form-group"><label class="control-label col-md-3" for="first_name">Title</label><div class=" col-md-9"><input class="form-control" name="title" id="title" type="text" placeholder="<%=user.username %>" value="<%=user.user_title %>">
</div></div>
<div class="form-group"><label class="control-label col-md-3" for="email">Email</label>
    <div class=" col-md-9"><input class="form-control" required="" placeholder="email@domain.com" data-type="email" data-error="Email is not correct" name="email" id="email" type="text" value="<%=user.user_email %>">
</div></div>
<hr/>
<h4>Contacts</h4>
<div class="form-group"><label class="control-label col-md-3" for="first_name">First name</label><div class=" col-md-9"><input class="form-control" required="" name="first_name" id="first_name" type="text" value="<%=user.first_name %>">
</div></div>
<div class="form-group"><label class="control-label col-md-3" for="last_name">Last name</label><div class=" col-md-9"><input class="form-control" name="last_name" id="last_name" type="text" value="<%=user.last_name %>">
</div></div>
<div class="form-group"><label class="control-label col-md-3" for="gender">Gender</label><div class="radio"><label><input name="gender" id="gender" type="radio" value="1"><span class="circle"></span><span class="check"></span>
 Male </label>
<label><input name="gender" id="gender" type="radio" value="2"><span class="circle"></span><span class="check"></span>
 Female </label>
</div></div>
<div class="form-group"><label class="control-label col-md-3" for="address">Address</label><div class=" col-md-9"><textarea class="form-control" rows="3" name="address" id="address"><%=user.address %></textarea>
</div></div>
<div class="form-group"><label class="control-label col-md-3" for="telephone">Telephone</label><div class=" col-md-9"><input class="form-control" required="" maxlength="12" placeholder="08123456789" data-type="number" data-error="Please enter numbers" name="telephone" id="telephone" type="text" value="<%=user.telephone %>">
</div></div>

<hr/>
<h4>Change password</h4>
<div class="form-group"><label class="control-label col-md-3" for="password">Password</label><div class=" col-md-9"><input class="form-control" name="password" id="password" type="password" value="">
</div></div>
<div class="form-group"><label class="control-label col-md-3" for="password2">Re-type</label><div class=" col-md-9"><input class="form-control" name="password2" id="password2" type="password" value="">
</div></div>
<div class="form-group"><label class="control-label col-md-1" for="">&nbsp;</label><div class=" col-md-9"><button class="btn btn-success" name="" type="submit">Update</button>
</div></div>
</form>     </div>
    </div>
</div>
<%- include base_footer %>
